
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; 
    color: #fff; 
}

header {
    background-color: #333;
    color: #fff;
    padding: 12px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px;
    color: #fff; 
}

h1, h2, h3 {
    color: #fff; 
}


.project {
    margin-bottom: 20px;
}


form {
    display: grid;
    gap: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff; 
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    color: #000; 
}

thead th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}
